{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
</head>
<body>
  <div class="card">
      <div class="card-body">

        <form class="form-inline" action="/">
          <div class="form-row">
          <input name="q" class="form-control form-control-lg" type="search" 
            placeholder="Поиск" {% if keyword %}value="{{ keyword }}"{% endif %}>
          <button class="btn" type="submit">Найти</button>
          </div>
          <div class="name">
          {% if user.is_authenticated %}
            <p>{{ user.first_name|default:user.username }}</p>
            <a href="{% url 'users:logout' %}">Выйти</a>
          {% else %}
            <a href="{% url 'users:login' %}">Войти</a>
          {% endif %}
        </div>
        </form>
        </div>
      </div>
  {% if search %}
    <div class="search-info">
      Поиск по: <code>{{ quest }}</code> | Найдено: <strong>{{ posts|length }}</strong>
  </div>
  {% endif %}

  {% for post in posts %}
    <div class="post-item">
      <h3>Автор: {{ post.author.get_full_name }}</h3>
      <time>{{ post.pub_date|date:"d E Y" }}</time>
      <p>{{ post.text }}</p>
      <a href="/posts/?filter=author&q={{ post.author.get_full_name }}">все записи автора</a>
    </div>
  {% empty %}
    <div class="empty-message">
      Список пустой или ничего не найдено
    </div>
  {% endfor %}
</body>
</html>